html {
    font-size: 62.5%;
}

* {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}


.gridhome {
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "footer";

    grid-template-rows: 0.1rem auto auto;
    row-gap: 2%;
}

header {
    grid-area: nav;
}

main {
    grid-area: main;
}


footer {
    grid-area: footer;

}


.navbar {
    height: auto;
}


.navbar-brand {
    font-size: 4rem;
}

.nav-item {
    margin-left: 50%;
}


.landingph {
    margin-bottom: 3%;
}


.foto {
    margin-bottom: 2%;
}


.container-fluid {
    align-content: center;
    padding: 10%;
    font-size: 1.5rem;
}


.footerflex {
    display: flex;
    flex-direction: column;
    height: 1.5rem;
    font-size: 1.5rem;
    padding: 2rem;
    margin-right: 15%;
    text-align: right;
    margin-bottom: 6rem;
}


.enviar {
    margin-left: 80%;
}


.navbar-nav {
    margin-left: 70%;
}


@media (min-width: 576px) {
    .navbar-nav {
        margin-left: 30%;
    }

    .nav-item {
        margin-left: 30%;
    }

}

@media (min-width: 768px) {
    .navbar-nav {
        margin-left: 50%;
    }

    .nav-item {font-size: 2rem;;
        margin-left: 25%;
    }

}

@media (min-width: 992px) {
    .navbar-nav {
        margin-left: 70%;
    }

    .nav-item {
        margin-left: 30%;
    }

}