html {
    font-size: 62.5%;
}

* {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}


.gridhome {
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "footer";

    grid-template-rows: 0.1rem auto auto;
    row-gap: 2%;
}

header {
    grid-area: nav;
}

main {
    grid-area: main;
}


footer {
    grid-area: footer;

}


.navbar {
    height: auto;
}


.navbar-brand {
    font-size: 3rem;
}

.nav-item {
    font-size: 1.5rem;
    margin-left: -10%;
}

.navbar-toggler {
    font-size: 1rem;
    margin-left: -20%;
}



@keyframes colorefect {
    from {
        filter: contrast(2);
    }

    to {
        background-image: linear-gradient(#bbceda, #cbeedb);
    }
}

@keyframes slidein {
    from {
        width: 10%;
    }

    to {
        width: 70%;
    }
}

@keyframes slidelink {
    from {
        width: 10%;
    }

    to {
        width: 100%;
    }
}

@keyframes slidetop {
    from {
        margin-bottom: -10%;
    }

    to {
        margin-bottom: 0%;
    }
}

@keyframes fadein {
    from {
        opacity: 30%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes fadeout {
    from {
        opacity: 100%;
    }

    to {
        opacity: 50%;
    }
}


@keyframes bn {
    from {
        filter: grayscale(0);
    }

    to {
        filter: grayscale(100);
    }
}

.landingph {
    animation-name: fadein;
    animation-duration: 10s;
    margin-bottom: 3%;
}


.foto {
    margin-bottom: 2%;

}

.foto:hover {
    animation-name: bn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.formcontainer {
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    padding: 1rem;
    margin: 1rem;
    background-image: radial-gradient(rgb(255, 255, 255), rgb(227, 227, 227));
}


.container-fluid {
    align-content: center;
    padding: 5%;
    font-size: 3rem;
}

footer {text-decoration: none;

}

.footerflex {text-decoration: none;
display: flex; flex-direction: row-reverse;
    height: 7rem;
    font-size: 1.5rem;
    padding: 2rem;
    margin-right: 20%;
    text-align: right;
    margin-bottom: 6rem;
}

ul{text-decoration: none;}

h2{
    margin-top: 2%;
    margin-right: 2%;
}


.enviar {
    margin-left: 80%;
}

.icono {
    width: 10px;
    height: 10px;
}

.navbar-nav {display: inline-block; text-align: right; direction: column;
    margin-left: 80%;
}


@media (min-width: 576px) {
    .navbar-nav {
        margin-left: 50%;
    }

    .nav-item {
        font-size: 1rem;
        margin-left: 2%;
    }

    .exampleInputEmail1 {
        font-size: 10rem;
    }

}




@media (min-width: 768px) {
    .navbar-nav {
        margin-left: 50%;
    }

    .nav-item {
        font-size: 2rem;
        ;
        margin-left: 25%;
    }

}

@media (min-width: 992px) {
    .navbar-nav {
        margin-left: 60%;
    }

    .nav-item {
        margin-left: 30%;
    }

}