html {
    font-size: 62.5%;
}

* {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

main{background-image: linear-gradient(to right, white, rgb(206, 169, 169), rgb(146, 220, 145))}

.gridhome {
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "footer";

    grid-template-rows: 3% auto 3%;
    row-gap: 2%;
    background-image: linear-gradient(black, white);
}

.head {
    grid-area: nav;
}


.foto {
    margin-top: 2%;
}


footer {
    grid-area: footer;
    font-size: 1.5rem;
    padding: 2rem;
    margin-right: 10%;
    text-align: right;
}


.container-fluid{align-content: center ;padding: 10%;
font-size: 1.5rem;}

.enviar{margin-left: 80%;}

.mb-2{width: 100%; padding-left: 10%; padding-right: 10%;
}